<div class="row">
  <div class="col-sm-4" *ngFor="let product of (productsState | async).products; let i = index" >

    <app-product-list-item 
      [product]="product"
      [index]=i
    ></app-product-list-item>

  </div>
</div>