<button class="add-to-cart btn btn-primary" (click)="onClick()" [disabled]="alreadyInCart">
  <span *ngIf="withLabel">Add to Cart</span>
  <span class="add-to-cart glyphicon glyphicon-shopping-cart"></span>
</button>