<div class="container">
  <h3>Login</h3>
    
  <form (ngSubmit)="onLogin(f)" #f="ngForm" novalidate>

    <div class="form-group">
      <label for="username">Username/Email</label>
      <input type="email" class="form-control" name="email" ngModel required email>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" ngModel required>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Log In</button>

  </form>
  <p class="login-error alert alert-danger" *ngIf="loginError !== null">{{ loginError }}</p>
</div>