<h4>{{ title }}</h4>

<div class="container">    
            
    <form (ngSubmit)="onSave(f)" #f="ngForm" novalidate autocomplete="off">
       

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="user.name" required>
        </div>

        <div class="form-group">
            <label for="name">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="user.email" required email autocomplete="new-password"> 
        </div>

        <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required autocomplete="off"> 
        </div>
        
        <div class="form-group">
            <label for="name">Role</label>
            <select name="role_id" [(ngModel)]="user.role_id" required>
              <option value="100">Admin</option>
              <option value="10">Manager</option>
              <option value="1">User</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Save</button>
    
    </form>
</div>