<header>
    <span class="back pull-right"><a routerLink="/">Back to products</a></span>
    <h1>{{product.name}} </h1>
</header>

<div class="row">
    <div class="col-sm-6">
        <img [src]="product.img_url" alt="{{ product.name }}" class="img-responsive" />
    </div>
    <div class="col-sm-6">
       <p>{{ product.description }}</p>
       <div class="clearfix actions">
          <div class="pull-left price">Price: <strong>{{product.price | currency:'USD':true}}</strong></div>
          <div class="pull-right"><app-add-to-cart [product]="product" [withLabel]="true"></app-add-to-cart></div>
       </div>
    </div>
  </div>