<header class="site-header">
    <ul class="nav nav-pills">
        <li role="presentation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">Home</a>
        </li>

        <li class="pull-right" role="presentation" *ngIf="loggedUser">
            <a (click)="onLogout()" class="logout" (click)="onLogout()">Logout</a>
        </li>
        <li class="pull-right" role="presentation" routerLinkActive="active" *ngIf="!loggedUser">
            <a routerLink="/login">Login</a>
        </li>
        <li class="pull-right dropdown" *ngIf="loggedUser">
            <a class="dropdown-toggle" data-toggle="dropdown"role="button">Hi, {{ loggedUser ? loggedUser.name : ''}}</a>
            <div class="dropdown-menu">
                <div *ngIf="loggedUser.role_id >= 10">
                    <a class="dropdown-item" routerLink="/admin/users"  *ngIf="loggedUser.role_id >= 100">Users</a>
                    <a class="dropdown-item" routerLink="admin/products">Products</a>
                    <a class="dropdown-item" routerLink="admin/orders">Orders</a>
                    <div class="dropdown-divider"></div>
                </div>

                
                <a class="dropdown-item" routerLink="user/orders">My Orders</a>
                <a class="dropdown-item" routerLink="user/profile">Profile</a>
                
            </div>
        </li>
        <li class="pull-right cart-nav" role="presentation"
            routerLinkActive="active">
            <a routerLink="order/cart">My Cart <span class="badge">{{ cart.length }}</span></a>
        </li>
    </ul>
 

</header>


<div class="site-body">
    <router-outlet></router-outlet>
</div>