<!--The content below is only a placeholder and can be replaced.-->

<div>
  <input #authUsername type="text" value="santiagofs@gmail.com" />
  <input #authPassword type="password" />
  <button (click)="authenticate(authUsername.value, authPassword.value)">Authenticate</button>
</div>
<div>
  <span *ngIf="authResponse!==null">{{ authResponse | json }}</span>
  {{ authError }}
</div>

<hr />
<div>
  <button (click)="currentUser()">Get current user</button>
</div>
<div>
    <span *ngIf="currentUserResponse!==null">{{ currentUserResponse | json }}</span>
</div>