
<div class="actions clearfix">
  <a class="btn btn-primary btn-sm pull-right" [routerLink]="['../edit', 0]">Add new User</a>
</div>
<table class="list">
  <thead>
    <tr><th>Name</th><th class="actions"></th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of (usersState | async).users; let i = index" >
      <td>{{user.name}}</td>
      <td class="actions">
          <a class="edit glyphicon glyphicon-edit" [routerLink]="['../edit', user.id]"></a>
          <a class="remove glyphicon glyphicon-remove" (click)="onRemove(user.id)"></a>
      </td>
    </tr>
  </tbody>
</table>
