<div *ngIf="cart.length === 0">
  <p>No items in the cart yet</p>
</div>

<div *ngIf="cart.length > 0">
  <div class="cart-item row" *ngFor="let item of cart; let i = index" >
    <div class="col-sm-4">{{item.product.name}}</div>
    <div class="col-sm-4">qty <input type="number" min="0" max="99" value="{{item.qty}}" (change)="onQtyChange(item.product.id, $event)"></div>
    <div class="col-sm-2">Price: {{item.product.price * item.qty | currency:'USD':true}} </div>
    <div class="col-sm-2"><a (click)="onRemove(item.product.id)" class="remove">Remove</a></div>
  </div>
  <div class="cart-item-totals row">
    <div class="col-sm-8"></div>
    <div class="col-sm-2">Total: {{ cartTotal }}</div>
    <div class="col-sm-2"></div>
  </div>
  <a routerLink="/order/billing">Proceed to billing information</a>
</div>

